html {
  background-color: #1b1b1d;
}

.card {
  width: 340px;
  height: 340px;
  border-radius: 16px;
  background: #fff;
  margin: auto;
  display: flex;
  align-items: flex-end;
  text-decoration: none;
  overflow: hidden;
  box-shadow: 0px 0px 0px 1px rgba(9, 9, 11, 0.08),
    0px 1px 2px -1px rgba(9, 9, 11, 0.08), 0px 2px 4px 0px rgba(9, 9, 11, 0.04);
}

.card-description {
  border-radius: 12px;
  border: 1px solid #fff;
  position: relative;
  background: #fafafa;
  margin: 6px;
  width: 100%;
  padding: 10px 14px 13px;
  font-size: 13px;
  transform: translateY(120%);
  transition: transform 500ms cubic-bezier(0.19, 1, 0.22, 1);

  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.08),
    0px 1px 2px -1px rgba(0, 0, 0, 0.08), 0px 2px 4px 0px rgba(0, 0, 0, 0.04);
}

.card:hover .card-description,
.card:focus-visible .card-description {
  transform: translateY(0);
}

.card-icon {
  position: absolute;
  top: 16px;
  right: 16px;
}

.card-title {
  color: #1b1b1d;
  font-weight: 500;
}

.card-subtitle {
  color: #717175;
  line-height: 1;
  margin-top: 4px;
}

.download-button {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.04);
  background: #fff;
  display: grid;
  place-items: center;
  overflow: hidden;
}

svg {
  grid-area: 1/1;
  transition: transform 250ms ease-in-out 60ms;
}

svg:first-of-type {
  transform: translateY(-150%);
}

.download-button:hover svg:first-of-type {
  transform: translateY(0%);
}

.download-button:hover svg:last-of-type {
  transform: translateY(150%);
}
